.TryKymis {
    height: 810px;
    width: 100vw;
    // background-image: url('../../assets/bg.jpg');
    // background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), url('../../assets/bg.jpg');

    .infoDiv {
        // margin-right: 400px;
        margin-right: 200px;
        width: 650px;
        padding: 20px;
        z-index: 20;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.644);
        @media (max-width: 1110px) {
            margin-right: 0;
        }
        h2 {
            margin-top: 20px;
            font-size: 34px;
            font-weight: 400;
        }

        span {
            font-weight: bold;
        }

        p {
            font-size: 18px;
            margin-top: 35px;
            line-height: 1.8;
            font-weight: 400;
            text-align: left;
        }

        .buy {
            width: 250px;
            height: 60px;
            background-color: #2a63ec;
            color: white;
            font-size: 16px;
            border-radius: 40px;
            border: 0;
            transition: .2s;
            cursor: pointer;
            margin-top: 25px;

            &:hover {
                background-color: white;
                color: black;
            }
        }
        @media (max-width: 680px) {
            min-height: 300px;
            height: auto;
            width: 94vw;
            h2 {
                margin-top: 10px;
                font-size: 27px;
            }
            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
    }
}

